.contact {
  margin: auto;
  margin-top: 7rem;
  padding: 1rem;
  margin-bottom: 5rem;
  border-radius: 25px;
}

@media screen and (max-width: 1200px) {
  .contact {
    margin-top: 1rem;
  }
}

.social-icon {
  height: auto;
  width: 3rem;
}

.custom-contact-card {
  border-radius: var(--bs-border-radius);
  transition:
    box-shadow 0.25s ease,
    transform 0.25s ease;
}

.custom-contact-card:hover {
  box-shadow: 5px 5px var(--accent-color);
}
