* {
  transition: 0.3s ease-in-out;
}

a {
  text-decoration: none !important;
}

.profile-picture {
  width: auto;
  height: 40rem;
}

@media (prefers-reduced-motion: no-preference) {
  .anim-apear {
    animation-name: apear;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-range: 150px 400px !important;
    animation-timeline: view() !important;
    transform: scale(0.8);
    opacity: 0;
  }

  @keyframes apear {
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.App-dark,
.App-light {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-dark {
  --nav-bg: var(--primary-color);
  --section-bg: var(--secondary-color);
  --surface-bg: var(--primary-color);
  --card-bg: var(--github-black);
  --tile-bg: var(--primary-color);
  --font-primary: #ffffff;
  --nav-background-color: #00000090;
}

.App-light {
  --nav-bg: var(--secondary-color-light);
  --section-bg: var(--secondary-color-light);
  --surface-bg: var(--background-light);
  --card-bg: var(--primary-color-light);
  --tile-bg: var(--primary-color-light);
  --font-primary: #000000;
  --nav-background-color: #ffffff90;
}

.navigationbar {
  background-color: var(--nav-bg);
}

@media screen and (max-width: 1200px) {
  .App-dark,
  .App-light {
    height: 100%;
  }

  .nav-menu {
    background-color: var(--nav-background-color);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

  .profile-picture {
    width: auto;
    height: 30rem;
  }
}

.accordion-item {
  border: 0px;
}

.accordion {
  width: 50%;
  min-width: 330px;
}

.App-dark .accordion {
  --bs-accordion-btn-icon: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27none%27 stroke=%27%233fa8bf%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27%3e%3cpath d=%27M2 5L8 11L14 5%27/%3e%3c/svg%3e');
  --bs-accordion-btn-active-icon: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27none%27 stroke=%27%233fa8bf%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27%3e%3cpath d=%27M2 5L8 11L14 5%27/%3e%3c/svg%3e');
}

.App-light .accordion {
  --bs-accordion-btn-icon: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27none%27 stroke=%27%2340a8c4%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27%3e%3cpath d=%27M2 5L8 11L14 5%27/%3e%3c/svg%3e');
  --bs-accordion-btn-active-icon: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27none%27 stroke=%27%2340a8c4%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27%3e%3cpath d=%27M2 5L8 11L14 5%27/%3e%3c/svg%3e');
}

.card,
.accordion-item,
.accordion-header,
.accordion-button {
  background-color: var(--card-bg);
}

.tile {
  background-color: var(--tile-bg);
}

.accordion-button,
.accordion-button:focus,
.accordion-button:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

.about-me,
.cv-container,
.projects-section,
.project-details,
.contact,
.accordion-button:not(.collapsed) {
  background-color: var(--section-bg);
}

.name-section,
.picture-section,
.language-section,
.details-description,
::-webkit-scrollbar-track {
  background-color: var(--surface-bg);
}

.primary-font-color {
  color: var(--font-primary);
}

.accent-font-color {
  color: var(--accent-color);
}

::selection {
  background-color: var(--accent-color);
  color: #000;
}

*::-webkit-scrollbar {
  width: 16px;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 10px;
  border: 3px solid #ffffff;
}
